# Системные файлы
.vs/
.idea/
*.suo
*.user
*.sln.docstates

# Файлы сборки
bin/
obj/
out/

# Конфигурации и секретные данные
secrets.json
*.env
appsettings.Development.json

# Базы данных
*.db
*.sqlite
